<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">
<style type="text/css" rel="stylesheet">
   body{
   background:url(img/bg_tools.png) no-repeat top right
}
</style>
</head>
<body>
<table width="770" border="0" align="center">
  <tr>
    <td align="center" valign="middle"><p align="justify">Instructions and informations related with 56P-ORT Search:</p>
      <p align="justify">&nbsp;</p>
      <p align="justify">Links to command list </p>
      <p align="justify">Steps</p>
      <p align="justify"> Server List</p>
      <p align="justify">Paths</p>
      <p align="justify">Commands Inventory</p></td>
  </tr>
</table>
</body>
</html>
