<MENU>
	<ENVIRONMENT NAME="PRODUCTION">
		<APPID NAME="K8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="56P">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="R8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
				<APPID NAME="ME0">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
	</ENVIRONMENT>
	<ENVIRONMENT NAME="ORT">
		<APPID NAME="K8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="56P">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="R8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
				<APPID NAME="ME0">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
	</ENVIRONMENT>
		<ENVIRONMENT NAME="TEST">
		<APPID NAME="K8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="56P">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="R8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
				<APPID NAME="ME0">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
	</ENVIRONMENT>
	<ENVIRONMENT NAME="DEV">
		<APPID NAME="K8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="56P">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="R8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
				<APPID NAME="ME0">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
	</ENVIRONMENT>
	<ENVIRONMENT NAME="MONITOR">
		<APPID NAME="K8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="56P">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="R8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
				<APPID NAME="ME0">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
	</ENVIRONMENT>
	<ENVIRONMENT NAME="WIKI">
		<APPID NAME="K8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="56P">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
		<APPID NAME="R8S">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
				<APPID NAME="ME0">
			<LAYER NAME="WEB">
				<SERVER_W1>TVMK7992</SERVER_W1>
				<SERVER_W2>TVMK7993</SERVER_W2>
				<SERVER_W3>TVMK8124<SERVER_W3>
			</LAYER>
			<LAYER NAME="APP">
				<SERVER_A1>TVMK8208</SERVER_A1>
				<SERVER_A2>TVMK8209</SERVER_A2>
				<SERVER_A3>TVMK8126</SERVER_A3>
				<SERVER_A4>TVMK8125</SERVER_A4>
			</LAYER>
			<COMMANDS>
				<COMMAND1>LS -LRTH</COMMAND1>
				<COMMAND2>DU -SK |SORT -NR |HEAD -N 5</COMMAND2>
				<COMMAND3>PS -EF</COMMAND3>
				<COMMAND4>DF -K .</COMMAND4>
			</COMMANDS>
		</APPID>
	</ENVIRONMENT>
</MENU>